body{
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: rgb(224, 187, 226);
    border: 3px solid #ee9ed3;
    width: 400px;
    height: 500px;
    margin: 0 auto;
    

}

.container {
    text-align: center;
    

}

input{
    padding: 8px;
    border-radius: 8px;
}

button{
    padding: auto;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(214, 134, 235) ;
    border-radius: 8px;
}

ul{
    padding: 0;
}

li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    list-style-type: none;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    
}

li span {
    cursor: pointer;
}

.completed{
text-decoration: line-through;
color: #888
}
